<!-- Create a new Todo -->
 <form id='new-todo' action='http://localhost:3000/todos.json'>
  <input type='text' name='content'placeholder="Get This Done">
  <input type='submit' value='Do it!'>
</form>

<ul id='todos'> Todos
</ul>
