<!-- Create a new Todo -->

<form id='new-todo' action='http://localhost:3000/todos'>
  <input type='text' name='content'placeholder="Get This Done">
  <input type='submit' value='Do it!'>
</form>

<button id='get-todos'></button>

<h3> Todos</h3>
<h2 id='todoCount'></h2>
<ol id='todos'>
</ol>

<h3> Done </h3>
<h2 id='doneCount'></h2>
<ol id='dones'>
</ol>
