<!-- Create a new Todo -->

<form id='new-todo' action='http://localhost:3000/todos'>
  <input type='text' name='content'placeholder="Get This Done">
  <input type='submit' value='Do it!'>
</form>

<button id='get-todos'>Get Todos</button>


<ol id='todos'> Todos
</ol>

<ol id='dones'> Done
</ol>
